@model Bumper.machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Provider
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provider)
        </dd>

        <dt>
            Instance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instance)
        </dd>

        <dt>
           Tag
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

        <dt>
           Domain
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domain)
        </dd>

        <dt>
           PublicIps
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicips)
        </dd>

        <dt>
            PrivateIps
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privateips)
        </dd>

        <dt>
           Environment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.environment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
