@model IEnumerable<Bumper.machine>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory<small> List of available machines</small></h2><br />

<p><a href="@Url.Action("Create")" class="btn btn-primary btn-xs">Add machine</a></p>
<table class="table">
    <tr>
        <th>Provider</th>
        <th>Tag-name</th>
        <th>Instance Id</th>
        <th>Pub.IP</th>
        <th>Environment</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.provider)</td>
        <td>@Html.DisplayFor(modelItem => item.tag)</td>
        <td>@Html.DisplayFor(modelItem => item.instance)</td>
        <td>@Html.DisplayFor(modelItem => item.publicips)</td>
        <td>@Html.DisplayFor(modelItem => item.environment) </td>
        <td>
            <a href="/Machines/Edit/@item.id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
            <a href="/Machines/Details/@item.id"><i class="fa fa-info" aria-hidden="true"></i></a> |
            <a href="/Machines/Delete/@item.id"><i class="fa fa-trash-o" aria-hidden="true"></i>
        </td>
    </tr>
}

</table>
