@{
    ViewBag.Title = "Home Page";
    IEnumerable<Bumper.incidence> maq = ViewBag.Incidences;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <center><h2>Machines</h2></center>
        <div id="myfirstchart" style="height: 300px;"></div>
        <script>
            new Morris.Donut({
                // ID of the element in which to draw the chart.
                element: 'myfirstchart',
                colors: ['#ff911c', '#1c9cff', '#1cffe0'],
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                  { label: 'AWS', value: @maq.Count(x => x.machine.provider == "AWS") },
                  { label: 'HYPER-V', value: @maq.Count(x => x.machine.provider == "HYPERV") },
                  { label: 'AZURE', value: @maq.Count(x => x.machine.provider == "AZURE") }
                ]
            });
        </script>
    </div>
    <div class="col-md-4">
        <center><h2>Incidences</h2></center>
        <div id="mysecondchart" style="height: 300px;"></div>
        <script>
            new Morris.Donut({
                // ID of the element in which to draw the chart.
                element: 'mysecondchart',
                colors: ['#ff4949', '#9eff49', '#ffd738'],
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                  { label: 'PRE_Faast', value: @maq.Count(x => x.machine.tag == "PRE_Faast") },
                  { label: 'Qa-Faast-DC-Vagrant', value: @maq.Count(x => x.machine.tag == "Qa-Faast-DC-Vagrant") },
                ]
            });
        </script>
    </div>
    <div class="col-md-2"></div>
</div>